:root{
    font-size: 16px;
    --primeryprimary-color: #FFE6C7;
    --secondary-color: #FFA559;
    --hover-color: #FF6000
    --color: #454545
}
.hide {
    display: none;
}


body{
    background-color: var(--primeryprimary-color);
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--secondary-color);
    padding: 10px 20px;
}
.navBar {
    background-color: var(--secondary-color);
    color: var(--color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.logo {
    max-width: 35px;
    height: 35px;
    z-index: 1000;
} 


.webName {
    display: grid;
    align-items: center;
    margin-left:10%;
    font-size: 2rem;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #454545;
}

.menu li {
    margin-left: 10px;
    color: #454545;
}

.menu li:first-child {
    margin-left: 0; 
}

.borderRight {
    border-right: 1px solid white; 
    padding-right: 10px; 
    width: 40px;
    height: 40px;
}

/* form */
.frontPage {
    margin: 125px 0px;
  }
  
  .logInForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .frontPageLabel {
    font-size: 20px;
    display: flex;
    margin-bottom: 7px;
    margin-top: 20px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .frontPageInput {
    display: flex;
    margin: auto auto;
    width: 350px;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    align-items: center;
  }
  
  .frontPageButton {
    display: block;
    margin: 35px auto 0px auto;
    justify-content: space-between;
    width: 100px;
    padding: 10px;
    background-color:var(--secondary-color);
    color: #fff;
    border-radius: 20px;
    border: solid 2px #ededed;
  }
  
  p {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
.blueText {
    color: blue;
    padding: 4px;
}
.categoriesPics {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.categoriesH2{
  align-items: center;
  display: grid;
  font-size: 2rem;
}
.categoriesPics li {
  margin: 10px;
}

.categoriesPics button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.categoriesName {
  width: 300px;
  height: 150px;
  transition: transform 0.3s ease;
}

.categoriesPics button:hover .categoriesName {
  transform: scale(1.1);
}

.categoriesPics button:active .categoriesName {
  transform: scale(0.9);
}

#usersDiv {
    margin-bottom: 20px;
}

#postsBtn, .userBtnGet {
  display: inline-block; 
  margin-right: 10px; 
}

  
#userBtn {
    background-color: #5E5CE6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
#userBtn:hover {
    background-color: #4F49E0;
}
  
#postsBtn {
    background-color: #E65E5C;
    color: white;
    padding: 10px 20px;
    margin-left: 43%;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
  
#postsBtn:hover {
    background-color: #E04F49;
}

.imageOption{
    flex-flow:row;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 7px;
    display: flex;
}
.imgg{
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 75px;
  transition: transform 0.3s ease; 
}